header {
  .header-inner {
    justify-content: space-between;
  }

  .logo {
    text-align: left;
  }

  nav {
    ul {
      justify-content: flex-end;
    }
  }
}

.view-pc {
  display: flex !important;
}

.view-sp {
  display: none !important; // = .album-grid.display
}

main {
  .album-grid {
    .album-row {
      justify-content: flex-start;
      gap: calc($album-row-count * 10px);
      margin-bottom: 20px;
    }

    .album {
      /* 横3列 */
      flex: 1 1 calc(33.333% - 20px);
      max-width: calc(33.333% - 20px);
    }

    .album-details {
      .details-text {
        max-width: 50%;

        .title {
          display: flex;
          justify-content: space-between;
          align-items: baseline;
          gap: 1.5em;
        }

        .track-list {
          width: 50%;

          &.columns {
            width: 90%;
            column-count: 2;
            column-gap: 5em;
          }
        }
      }

      .details-image {
        width: 50% !important; /* 画像エリアの最大幅 */
        max-height: 400px; /* 高さは自動調整 */
      }

      .album-detail {
        gap: calc($album-row-count * 10) px;
      }
    }
  }

  .album-grid {
    .album {
      &.active .artwork-cover {
        filter: brightness(0.5) contrast(0.75);
        transition: filter 0.3s ease;
        @media (prefers-color-scheme: dark) {
          filter: brightness(1.5) contrast(0.75);
          transition: filter 0.3s ease;
        }
      }
    }
  }
}

main {
  #about {
    .profile {
      flex-direction: row;
      gap: 5em;

      .profile-text {
        max-width: 50%;

        div {
          justify-content: space-between;
          align-items: center;
          flex-direction: row;
        }
      }
    }
  }
}
